<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../../css/style.css}"  href="../../static/css/style.css" >
</head>
<body>
    <div class="header-main container">
        <h1 class="logo">Booking.com</h1>
        <div>
        </div>

    </div>
    <div class="center-form">
        <form class="search-form" th:action="@{'/'  +  ${hotel.id}}" th:method="put" >

            <input class="input" type="text" name="name" th:value="${hotel.name}">
            <select class="input" name="city"  th:value="${hotel.address.city}">
                <option th:each="city : ${T(com.example.bookingplatform.address.entity.City).values()}"
                        th:text="${city}"
                        th:value="${city}"
                        th:selected="${ city == hotel.address.city}" >
                </option>
            </select>
            <input class="input" type="text" name="street" th:value="${hotel.address.street}">
            <button class="btn secondary" type="submit">Update</button>
        </form>
    </div>


    <div class="center-form">
        <form class="search-form" th:action="@{/room}" method="post">
            <input class="input" type="number" th:name="number" placeholder="Number" >
            <input class="input" type="number" th:name="roomCount" placeholder="N-room ">
            <button class="btn secondary" type="submit"
                    th:name="hotelId" th:value="${hotel.id}"> Add room </button>
        </form>
    </div>

<table class="container">
    <tr>
        <th>Room id </th>
        <th>Room number </th>
        <th>Room room count </th>
        <th> UPDATE </th>
        <th> DELETE </th>
    </tr>
    <tr th:each="room : ${hotel.getRooms()}">
        <td th:text="${room.id}"></td>
        <td th:text="${room.number}"></td>
        <td th:text="${room.roomCount}"></td>
        <td>
            <form th:action="@{/room/{roomId}/edit(roomId = ${room.id})}" th:method="get">
                <button class="btn secondary">Update Room</button>
            </form>
        </td>
        <td>
            <form th:action="@{/room/{roomId}(roomId = ${room.id})}" th:method="delete">
                <button class="btn secondary">Delete room</button>
            </form>
        </td>
    </tr>
</table>



</body>
</html>