<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author page</title>
    <link rel="stylesheet" th:href="@{css/style.css}" href="../static/css/style.css">
</head>
<body>
<div class="header-main container">
    <h1 class="logo">Booking.com</h1>
    <div>
        <a th:href="@{/create}">
            <button class="btn">Add hotel</button>
        </a>
        <button class="btn">Register</button>
        <button class="btn">Sign in</button>
    </div>

</div>
<div class="center-form">
    <form class="search-form"  method="get">
        <select class="input"  name="city">
            <option th:each="city : ${T(com.example.bookingplatform.address.entity.City).values()}"
                    th:text="${city}"
                    th:value="${city}">
            </option>
        </select>
        <input class="input" type="datetime-local">
        <input class="input" type="datetime-local" >
        <input class="input" type="number" placeholder="N-room">
        <button class="btn secondary" type="submit">Search</button>
    </form>
</div>

<div th:if="${hotels}  != null"  class="container">
    <div class="hotel-card" th:each="hotel :  ${hotels}" >
        <h1  th:text="${hotel.name}"></h1>

        <a th:href="@{{hotelId}/rooms(hotelId = ${hotel.id})}" >
            <button class="btn secondary"> See rooms</button>
        </a>

        <form th:action="@{{hotelId}(hotelId = ${hotel.id})}" th:method="delete">
            <button class="btn secondary">Delete hotel</button>
        </form>

    </div>
</div>

</body>
</html>